.logotipo {
    border-radius: 512px;
    margin: 10px;
    height: 70px;
}

.menu {
    display: flex;
    background-color: #552814;
    padding: 5px;
    list-style-type: none;
    align-items: center;
    font-size: 16px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    /* altura fixa */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.9);
    z-index:1;
}


.conteudo {
    padding-top: 100px;
    /* mesmo valor da altura do menu */
}



.menu a {
    text-decoration: none;
    color: #F5EDE3;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    font-size: 16px;


}

.menu a:hover {
    background-color: #BB793E;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    max-width: 1200px;
    margin: auto;
    gap: 40px;
}

.texto {
    flex: 1;
}

.texto h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #4a2b1b;
    margin-top: 100px;

}

.texto .subtitulo {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
}

.texto .paragrafo {
    font-size: 20px;
    margin-bottom: 30px;
}

.botao1 {
    display: inline-block;
    padding: 12px 20px;
    background-color: #4a2b1b;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 30px;
}

.botao1:hover {
    background-color: #6a3b2b;
}

.imagem img {
    max-width: 400px;
    width: 100%;
    border-radius: 8px;
    display: block;
    margin-top: 100px;
}

.limpar-float {
    clear: both;
    height: 0;
}

h2,
.lista-diferenciais,
p {
    color: #552814;
}


.lista-diferenciais {
    list-style-type: none;
}


table,
th,
td {
    border: 3px solid #BB793E;
    border-collapse: collapse;
    padding: 5px;
    margin-left: 10px;
    text-align: justify;

}

th {
    background-color: #BB793E;
    padding: 5px;
    color: #F5EDE3;
    text-align: center;

}

body {
    background-color: #F5EDE3;
    font-family: "Open Sans";
}

input[type="text"] {
    border-left: 5px solid #ccc;
    padding: 5px;
}

input[type="email"] {
    border-left: 5px solid #3498db;
    padding: 5px;
}

input[type="tel"],
textarea,
select,
input[type="number"],
input[type="date"] {
    padding: 5px;
}

input:focus {
    outline: 2px solid #BB793E;
    background-color: #ccc;
}

fieldset {
    margin: 10px;
    padding: 10px;
}

.botao {
    cursor: pointer;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    width: 95px;
    height: 45px;
    margin: 4px 10px;
    display: inline-block;
    transition-duration: 0.4s;
}

.botao:hover {
    color: white;
    background-color: #552814;
    border: none;
}

.botao:active {
    background-color: #BB793E;
}

textarea {
    resize: none;
}

img:hover {
    opacity: 0.5;
}

main,
footer,
header,
nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

}


section {
    margin-bottom: 40px;
}

section h2:first-child {
    text-decoration: underline;
}

section p:last-child {
    font-weight: bold;
}


.botao-comprar {
    background-color: #552814;
    font-size: 20px;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    color: #fff;
    margin: 10px;
}

.botao-comprar:hover {
    color: #BB793E;
    font-size: 23px;
    cursor: pointer;
}

td:nth-child(1) {
    background-color: #BB793E;
    border: solid 2px white;
    color: aliceblue;
    padding: 5px;
    font-size: 18px;
}

.cards-container {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    gap: 20px;
    margin-top: 5px;
    background-color: #BB793E;
    padding: 20px;


}

.card img {
    width: 250px;
    height: 200px;
    border-radius: 5px 5px 0 0;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    width: 250px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    position: relative;
}

.card-conteudo {
    padding: 10px;
}

.botao-conteudo {
    background-color: #BB793E;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    padding: 10px;
    color: #FFFFFF;
    margin-top: 24px;
}

.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;   
}

.iconewhatss {
    color: #44C052;
    /* verde do WhatsApp */
    font-size: 60px;
    

}

.whatsapp-float:hover {
    transform: scale(1.2);
  }

.badge {
    font-size: 16px;
    border-radius: 8px;
    text-align: center;
    font-family: "Open Sans";
    font-weight: bold;
    color: #FFFFFF;
    width: 134px;
    height: 40px;
    padding: 10px;
    position: absolute;
    top: 30px;
    right: 10px;
}

.promocao {
    background-color: #DB0000;
    top: 16px;
    right: 10px;
}

.novo {
    top: 16px;
    right: 10px;
    background-color: #25d366;
}

.iconecor {
    color: orange;
}

